@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.none {
    display: none !important;
}

.conteiner {
    max-width: 1140px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Header */
.header {
    background-image: url(../image/header/back1.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(36, 36, 36, 0.822);
    opacity: 0.3;
    z-index: 1;
}

.header-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 76px;
    line-height: 130%;
    color: rgb(255, 255, 255);
    z-index: 2;
    opacity: 0.6;
    cursor: context-menu;
}

.header-subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    text-align: center;
    letter-spacing: 0.2em;
    opacity: 0.6;
    z-index: 2;
    cursor: context-menu;
}

.header-arrow {
    position: absolute;
    bottom: 20px;
    z-index: 100;
}

.header-arrow img {
    width: 38px;
    height: 38px;
    z-index: 3;
    opacity: 0.6;
    cursor: pointer;
    animation: myAnim 4s ease 0s infinite normal forwards;
}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Portfolio */

.portfolio {
    background-image: url(../image/portfolio/back2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 110px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.portfolio-header {
    margin: 0;
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 66px;
    line-height: 130%;
    text-align: center;
    color: rgb(0, 0, 0);
}

.portfolio-card-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 0px;
    text-align: center;
    padding: 20px;
    max-width: 540px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 9px 0px rgb(76 70 90);
    border-radius: 15px;
}

.card:hover {
    background: rgba(255, 255, 255, 0.671);
    transform: translateY(-15px);
    transition: 0.2s ease-in;
}

.card-link {
    text-decoration: none;
}

.card-img {
    margin-bottom: 10px;
    width: 230px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.card-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: black;
}

.card p {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
    color: black;
}

/* Footer */


.footer {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 130px;
    background: rgb(202 214 236);
    border-top: 1px solid rgb(255, 255, 255);
    box-shadow: -1px 6px 4px 6px rgb(248 248 248);
}

.footer-row {
    width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyright {
    font-size: 28px;
    color: rgb(90, 90, 90);
}

.footer-icons img {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    margin-bottom: 10px;
}

.footer-call {
    display: flex;
    flex-direction: column;
    width: 210px;
}

.footer-icons p {
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: rgb(90, 90, 90);
}

.footer-icons-row {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social {
    margin: 0;
    margin-bottom: 15px;
}

.btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(90, 90, 90);
    background-color: rgb(148, 102, 255);
    border-color: rgba(255, 255, 255, 0.308);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.block_with_text {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(90, 90, 90);
    font-weight: 600;
    font-size: 20px;
}

.btn:hover {
    color: rgb(66, 66, 66);
}

/* Project */

.project {
    display: flex;
    justify-content: center;
    background-image: url(../image/portfolio/jsback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding-top: 20px;
    text-align: center;
}

.project-header {
    font-weight: bold;
    font-size: 66px;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 40px;
}

.project-description {
    font-size: 30px;
    font-weight: 600;
}

.img {
    width: 600px;
    border-radius: 30px;
}

.btn-projectjs {
    background-color: rgb(229, 255, 0);
    color: black;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
}