@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(136, 127, 255);
    background-image: url(/image/header/header.png);
    background-size: cover;
    background-position: center;
}

.header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(36, 36, 36, 0.822);
    opacity: 0.3;
    z-index: 1;
}

.header-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 76px;
    line-height: 130%;
    color: #fff;
    z-index: 2;
    opacity: .6;
    cursor: context-menu;
}

.header-subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    text-align: center;
    letter-spacing: 0.2em;
    opacity: .6;
    z-index: 2;
    cursor: context-menu;
}

.header-arrow img {
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    opacity: .6;
    cursor: pointer;
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

