/* Header */

@media (max-width: 570px) {
    .header-title {
        text-align: center;
    }
}

/* Main */

@media (max-width: 1165px) {
    .card {
        width: calc(50% - 15px);
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .card {
        width: 400px;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .portfolio-card-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .portfolio {
        height: auto;
    }
}

@media (max-width: 425px) {
    .portfolio-card-wrapper {
        width: 200px;
    }
    .portfolio-header {
        font-size: 50px;
    }
}

@media (max-width: 375px) {
    .portfolio-card-wrapper {
        width: 200px;
    }
}

/* Footer */

@media (max-width: 1165px) {
    .footer-row {
        width: 1000px;
        margin-right: 30px;
        margin-left: 30px;
    }
}

@media (max-width: 1024px) {
    .footer-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-copyright {
        text-align: center;
    }
    .footer-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 375px) {
    .footer-copyright-name {
        font-size: 1em;
    }
    .footer-copyright p {
        font-size: 20px
    }
}
